<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/login-style.css">
    </head>
    <body>
        <div class="container">
            <div class="center">
                <h2>Login - Web 1 system</h2>
                <form>
                    <input type="email" id="email" placeholder="E-mail">
                    <input type="text" id="password" placeholder="Senha">
                    <button type="submit">Entrar</button>
                    <hr class="solid">
                    <p><a href="./create.html">Cadastre-se</a></p>
                </form>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>