<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/main-style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h3>Web 1 System</h3>
                <nav>
                    <ul class="nav_links">
                        <li><a href="./edit.html">Editar perfil</a></li>
                        <li><button>Logout</button></li>
                    </ul>
                </nav>
            </header>
           <div class="search">
               <h3>Para pesquisar usuários cadastrados em nosso sistema digite o nome abaixo e clique em buscar</h3>
               <div class="form-search">
                <input type="text" id="search-input" placeholder="Ex: João Marcos">
                <button onclick="getUsers()">Buscar</button>
               </div>
           </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>