@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: fixed;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 32px;
    text-align: center;
}

button{
    height: 48px;
    width: 50%;
    border-radius: 6px;
    background-color: royalblue;
    padding: 2px;
    margin: 10px 35px;
    font-size: 24px;
    color: #FFF;
    border: 1px solid royalblue;
    cursor: pointer;
}

button:hover{
    background-color: rgba(65, 105, 225, 0.3);
}

input{
    height: 48px;
    width: 400px;
    border-radius: 6px;
    padding: 2px;
    border: 1px solid rgba(80, 75, 75, 0.6);
    font-size: 18px;
    text-indent: 10px;
}
